@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 151 100% 33%;
    --primary-foreground: 150 25% 95%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 5% 45%;
    --accent: 151 100% 33%;
    --accent-foreground: 150 25% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 151 100% 33%;
    --radius: 0.5rem;

    --chart-1: 151 100% 33%;
    --chart-2: 151 70% 35%;
    --chart-3: 151 60% 30%;
    --chart-4: 151 50% 25%;
    --chart-5: 151 40% 20%;
    
    --sidebar-background: var(--secondary);
    --sidebar-foreground: var(--secondary-foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 151 100% 33%;
    --primary-foreground: 150 25% 95%;
    --secondary: 240 5% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 12%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 151 100% 33%;
    --accent-foreground: 150 25% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 151 100% 33%;
    
    --chart-1: 151 100% 33%;
    --chart-2: 151 70% 35%;
    --chart-3: 151 60% 30%;
    --chart-4: 151 50% 25%;
    --chart-5: 151 40% 20%;

    --sidebar-background: var(--secondary);
    --sidebar-foreground: var(--secondary-foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
